<h1>Task List</h1>

<% @tasks.each do |task| %>
<ul>
  <li> Task:
    <%= task.name  %>
  </li>
  <li> Status:
    <%= task.status %>
  </li>
  <li> <%= link_to "Edit/ Update task", edit_task_path(task) %> </li>
  <li> <%= link_to "Delete task", task_path(task),
    method: :delete,
    data: { confirm: "Are you sure you want to delete this task?" } %>
  </li>
</ul>
<p>-----------------------------------------------------</p>
<% end %>

<%= link_to "Add a new task", new_task_path %>
